

body{
  width: 100%;
  background-image: url('../images/background1.png');
  height: 994px;
  padding-top: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
.parallelogram {
	width: 1500px;
	height: 994px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: white;
  position: absolute;
}


li{
  list-style: none;
}
a{
  text-decoration: none;
}
nav a{
  color: black;
}

img#logo{
  width: 65px;
  margin-right: 10px;
  margin-top: 10px;
}
nav li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content{
  position: absolute;
  margin: 2% 55%;
  display: block;
  opacity: 0;

}
.content>h2{
  text-align: left;
}
.content>iframe{
margin: auto;
}
.content>p{
  padding-top: 5%;
  margin: auto;
  width: 70%;
}

@media(min-width: 100px) and (max-width: 1000px){
  .parallelogram{
    display: none
  }
  .content{
    opacity: 1;
    padding-top: 0;
    margin: 10px;
    width: 100%;
    display: block;
  }
  body{
    width: 100%;
    background-image: url();
    height: 100px;
    padding: 0;
    overflow: scroll;
  }
  .background{
    background-image: url('../images/background.jpg');
    width: 100%;
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;

  }
  .content>h2{
    text-align: center;
    font-size: 50px;
    margin: 50px;
  }
  .content>iframe{
    width: 100%;
    height: 600px;
    margin:0;
    display: block;
  }
  .content>p{
    font-size: 20px;
    padding-top: 5%;
    margin: auto;
    width: 90%;
  }

}
@media and (max-width: 1000px)
